*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
  .header-img {
    width: 80%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 80%;
  }
}

body {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  text-align: center;
}

.header-img {
}

.header-name {
  font-size: 3rem;
}

.text-section {
  margin: 3rem 0;
}
.text-section__header {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.text-section__code {
  font-size: 2rem;
}

.text-section__content {
  font-size: 2rem;
}

.text-section__list {
  font-size: 2rem;
  margin-left: 3rem;
}

.text-section__list li {
  list-style: disc;
  padding-left: 1rem;
}
